<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="http://ergast.com/mrd/" target="_blank"><span class="tag is-link">Powered by Ergast API.</span></a>
      </p>
    </div>
  </div>
</footer>