  
  <section class="section" >
  <div class="container">
      
    <div class="columns">
      <div class="column is-one-quarter">
          <nav class="panel" *ngIf="champions.length" [@listAnimation]="champions.length">
              <p class="panel-heading">
                  Champions
                </p>

                <a class="panel-block has-text-centered" *ngFor="let champion of champions,let i = index" [ngClass]="{'is-active': selectedChampion && champion.year === selectedChampion.year }" href="javascript:;" (click)="loadSeason(champion)" >
                    <span class="tag is-info">{{champion.year}}</span> &nbsp; {{champion.driver.givenName}} {{champion.driver.familyName}}  
                  
                  </a>

          </nav>

          


      </div>
      <div class="column">
          <article class="message is-info" *ngIf="champions.length && !selectedChampion">
              <div class="message-body">
                Please select a champion from the list to see the season details.
              </div>
            </article>

          <app-details></app-details>

      </div>
    </div>
   
  </div>
</section>