<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
            In racing there are always things you can learn, every single day.
        </h1>
        <h2 class="subtitle">
             There is always space for improvement, and I think that applies to everything in life.
        </h2>
      </div>
    </div>

  </section>

