<div class="columns">
    <div class="column">
 
      

          <div class="card" *ngFor="let race of races" [@listAnimation]="races.length">
              <header class="card-header">
                <p class="card-header-title has-text-centered	has-text-weight-light	">
                    {{race.raceName}}  &nbsp; <span class="tag is-info">{{race.date | date:'dd-MM-yyyy'}}</span>
                </p>
               
              </header>
              <div class="card-content">
                <div class="content">
                <div class="table-wrapper">
                    <table class="table is-bordered is-striped is-narrow is-fullwidth">
                        <thead>
                          <tr>
                            <th>Position</th>
                            <th>Points</th>
                            <th>Driver</th>
                            <th>Nationality</th>
                            <th>Constructor</th>
                            <th>Grid</th>
                            <th>Laps</th>
                           
                            
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let result of race.Results" [ngClass]="{'is-selected': result.Driver.code === champion.driver.code }" >
                            <td>{{result.position}}</td>
                            <td>{{result.points}}</td>
                            <td>{{result.Driver.givenName}} {{result.Driver.familyName}}</td>
                            <td>{{result.Driver.nationality}}</td>
                            <td>{{result.Constructor.name}}</td>
                            <td>{{result.grid}}</td>
                            <td>{{result.laps}}</td>
                           
            
                          </tr>
                          </tbody>
                        </table>
                        </div>
                </div>
              </div>
           
            </div>

        

        
   
    </div>
   
 
  </div>