/* You can add global styles to this file, and also import other style files */
.hero.is-info.is-bold{
    background: url('assets/images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
}
.table tr.is-selected,
.content table tr.is-selected:hover{
    background: #209cee
}

.table-wrapper {
  overflow-x: auto;
}